{% extends "core/base.html" %}

{% block title %}Group List{% endblock %}

{% block stylesheets %}{% endblock stylesheets %}

{% block css %}
<style type="text/css">
	.card-number {
		font-size: 30px;
	}

	.okta-groups {
		margin-top: 20px;
	}

	.okta-groups > li > .name {
		font-size: 20px;
	}

	.okta-groups > li {
		/* other properties */
		margin-top: 10px;
		margin-bottom: 10px;
		border-top: 1px solid rgba(0,0,0,.125);
		padding-top: 10px;
	 }
	 
	.okta-groups > li:first-child {
		{% comment %} margin-top: 0; {% endcomment %}
		border-top: none;
		{% comment %} padding-top: 0; {% endcomment %}
	}

	.search-options {
		margin-top: 10px;
	}

	.okta-groups > li > .pills:child {
		margin-right: 20px;
		display: inline-block
	}
</style>
{% endblock %}

{% block content %}
<main class="content">

	<div class="row" style="margin-bottom: 20px;">
		<div class="col-sm-12">
			<h2>Okta Groups</h2>
			<a class="btn btn-outline-primary btn-sm" href="{% url "okta:task-okta-group-sync" %}">Sync Groups</a>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-12 col-md-12">
			<h3>Groups ({{ group_list|length }})</h3>
			<div id="groups-list">
				<!-- class="search" automagically makes an input a search field. -->
				<input class="search" placeholder="Search" />
				<!-- class="sort" automagically makes an element a sort buttons. The date-sort value decides what to sort by. -->
				<div class="search-options">
					<div>Sort by:</div>
					<button class="sort" data-sort="name">Name</button>
					<button class="sort" data-sort="email">Email</button>
				</div>

				<div class="search-options">
					<div>Filter by:</div>
					<button class="tag filter" data-filter="app">App</button>
					<button class="tag filter" data-filter="distribution">Distribution</button>
					<button class="tag filter" data-filter="role">Role</button>
					<button class="tag filter" data-filter="security">Security</button>
				</div>

				<ul class="list list-unstyled okta-groups">
					{% for g in group_list %}
					<li>
						<h4 class="name ">{{ g.name }}</h4>
						<p class="description">{% if g.description %}{{ g.description }}{% else %}(no description){% endif %}</p>
						<p class="pills">
						{% if g.profile.type %}<div><small>Type:</small> <span class="type font-weight-bold">{{ g.profile.type }}</span></div>{% endif %}
						{% if g.profile.application %}<div><small>App:</small> <span class="application font-weight-bold">{{ g.profile.application }}</span></div>{% endif %}
						{% if g.profile.emailAddress %}<div><small>Email:</small> <span class="email font-weight-bold">{{ g.profile.emailAddress }}</span></div>{% endif %}
						</p>
					</li>
					{% endfor %}
				</ul>
			</div>
		</div>
	</div>

</main>
{% endblock %}

{% block script-footer %}
<script>
	var options = {
		valueNames: [ 'name', 'description', 'email', 'type', 'application' ]
	};
	  
	var groupsList = new List('groups-list', options);

	$('.filter').on('click',function(){
		var $q = $(this).attr('data-filter');
		if($(this).hasClass('active')){
			groupsList.filter();
		  $('.filter').removeClass('active');
		} else {
			groupsList.filter(function(item) {
			return (item.values().type == $q);
		  });
		  $('.filter').removeClass('active');
		  $(this).addClass('active');
		}
	  });
</script>
{% endblock %}