{% extends "core/base.html" %}

{% block title %}Group List{% endblock %}

{% block stylesheets %}{% endblock stylesheets %}

{% block css %}
<style type="text/css">
	 .available-groups-row {
		display: flex;
		width: 300px;
		margin: 5px;
		padding: 10px;
		padding-bottom: 1px;
		border: 1px solid rgb(0, 0, 0);
	}

	.available-groups-row > column {
		flex: 33.33%;
		padding: 5px;
	}

	.available-groups-row {
		font-size: 14px;
	}

	.your-groups-row {
		display: flex;
		width: 300px;
		margin: 5px;
		padding: 10px;
		padding-bottom: 1px;
		border: 1px solid rgb(86, 122, 223);
	}

	.your-groups-row > column {
		flex: 33.33%;
		padding: 5px;
	}

	.your-groups-row {
		font-size: 14px;
	}

	.plank {
		margin-bottom: 10px;
	}
	.plank > dl > dt, dd {
		margin-bottom: 0px;
	}

	.plank > .plank-title {
		color: #808080;
		font-size: 14px;
		font-weight: bolder;
		margin-top: 20px;
		margin-bottom: 10px;
		text-transform: uppercase;
		border-bottom: 1px solid #808080;
	}

	.badge-small {
		font-size: 9px;
	}

	.badge-secondary {
		background-color: #6fa2c0;
	}
</style>
{% endblock %}

{% block content %}
<main class="content">

	<div class="row" style="margin-bottom: 20px;">
		<div class="col-sm-12">
			<h2>Okta Groups</h2>
			<a class="btn btn-outline-primary btn-sm" href="{% url "okta:task-okta-group-sync" %}">Sync Groups</a>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-12 col-md-6">
			<div class="plank">
				<h5 class="plank-title">Your Groups ({{ user_group_list|length }})</h5>
			</div>
			<div id="your-groups-list">
				<label for="search">Filter:</label>
				<input class="search" placeholder="Search" />
                <button class="sort btn btn-outline-primary btn-sm" data-sort="name">Sort by Name</button>
				<button class="sort btn btn-outline-primary btn-sm" data-sort="email">Sort by Email</button>
				<ul style="margin-top: 10px;" class="list list-unstyled d-flex flex-wrap">
				{% for g in user_group_list %}
					<li class="your-groups-row">
						<div class="col">
							<p>
								{% if g.source_type == 'OKTA_GROUP' %}
									{% if g.okta_id in user_group_ids %}
										{% if g.profile.allowLeave %}
											<a href="{% url 'okta:group-leave' group_id=g.id %}" class="btn btn-outline-danger btn-sm"><i class="far fa-times-circle"></i> Leave</a>
										{% else %}
											<span class="fas fa-asterisk text-danger"></span>
										{% endif %}
									{% else %}
										{% if g.profile.allowJoin %}
											<a href="{% url 'okta:group-join' group_id=g.id %}" class="btn btn-outline-success btn-sm"><i class="far fa-check-circle"></i> Join</a>
										{% endif %}
									{% endif %}
								{% else %}
									{% if g.okta_id in user_group_ids %}
										{% if g.profile.allowLeave %}
											<a href="{% url 'okta:group-leave' group_id=g.id %}" class="btn btn-outline-danger btn-sm"><i class="far fa-times-circle"></i> Leave</a>
										{% endif %}
									{% else %}
										{% if g.profile.allowJoin %}
											<a href="{% url 'okta:group-join' group_id=g.id %}" class="btn btn-outline-success btn-sm"><i class="far fa-check-circle"></i> Join</a>
										{% endif %}
									{% endif %}
								{% endif %}
							</p>
						</div>
						<div class="col-9">
							<h6 class="mb-1 name">{{ g.name }}</h6>
							<p class="mb-1 description">{% if g.description %}<em>{{ g.description }}</em>{% endif %}</p>
							<p class="mb-1">
								{% if g.profile %}
									{% if g.profile.type %}
										<span class="badge badge-small badge-secondary">{{ g.profile.type|title }}</span>
									{% endif %}
									{% if g.profile.application %}
										<span class="badge badge-small badge-secondary">{{ g.profile.application|title }}</span>
									{% endif %}
									{% if g.profile.emailAddress %}
										<span class="email badge badge-primary">{{ g.profile.emailAddress }}</span>
									{% endif %}
								{% endif %}
							</p>
						</div>
					</li>
				{% endfor %}
				</ul>
			</div>
		</div>
		<div class="col-sm-12 col-md-6">
			<div class="plank">
				<h5 class="plank-title">Available Groups ({{ group_list|length }})</h5>
			</div>
			<div id="available-groups-list">
				<input class="search" placeholder="Search" />
                <button class="sort btn btn-outline-primary btn-sm" data-sort="name">Sort by Name</button>
				<button class="sort btn btn-outline-primary btn-sm" data-sort="email">Sort by Email</button>
				<ul style="margin-top: 10px;" class="list list-unstyled d-flex flex-wrap">
				{% for g in group_list %}
					<li class="available-groups-row">
						<div class="col">
							<p>
								{% if g.source_type == 'OKTA_GROUP' %}
									{% if g.okta_id in user_group_ids %}
										<a href="{% url 'okta:group-leave' group_id=g.id %}" class="btn btn-outline-danger btn-sm"><i class="far fa-times-circle"></i> Leave</a>
									{% else %}
										<a href="{% url 'okta:group-join' group_id=g.id %}" class="btn btn-outline-success btn-sm"><i class="far fa-check-circle"></i> Join</a>
									{% endif %}
								{% else %}
									{% if g.okta_id in user_group_ids %}
										<a href="{% url 'okta:group-leave' group_id=g.id %}" class="btn btn-outline-danger btn-sm" disabled><i class="far fa-times-circle"></i> Leave</a>
									{% else %}
										<a href="{% url 'okta:group-join' group_id=g.id %}" class="btn btn-outline-success btn-sm" disabled><i class="far fa-check-circle"></i> Join</a>
									{% endif %}
								{% endif %}
							</p>
						</div>
						<div class="col-9">
							<h6 class="mb-1 name">{{ g.name }}</h6>
							<p class="mb-1 description">{% if g.description %}<em>{{ g.description }}</em>{% endif %}</p>
							<p class="mb-1">
								{% if g.profile %}
									{% if g.profile.type %}
										<span class="badge badge-small badge-secondary">{{ g.profile.type|title }}</span>
									{% endif %}
									{% if g.profile.application %}
										<span class="badge badge-small badge-secondary">Application: {{ g.profile.application|title }}</span>
									{% endif %}
									{% if g.profile.emailAddress %}
										<span class="email badge badge-primary">{{ g.profile.emailAddress }}</span>
									{% endif %}
								{% endif %}
							</p>
						</div>
					</li>
				{% empty %}
					<p>No Groups Available.  You have everything you can join.</p>
				{% endfor %}
				</ul>
			</div>
		</div>
	</div>

</main>
{% endblock %}

{% block script-footer %}
<script>
	var options = {
		valueNames: [ 'name', 'description', 'email' ]
	};
	  
	var availableGroupsList = new List('available-groups-list', options);
	var yourGroupsList = new List('your-groups-list', options);
</script>
{% endblock %}