{% extends "core/base.html" %}

{% block title %}Group List{% endblock %}

{% block stylesheets %}{% endblock stylesheets %}

{% block css %}
<style type="text/css">
	.card-number {
		font-size: 30px;
	}

	.okta-groups {
		margin-top: 20px;
	}

	.okta-groups > li > .name {
		font-size: 20px;
	}

	.okta-groups > li {
		/* other properties */
		margin-top: 10px;
		margin-bottom: 10px;
		border-top: 1px solid rgba(0,0,0,.125);
		padding-top: 10px;
	 }
	 
	 .okta-groups > li:first-child {
		{% comment %} margin-top: 0; {% endcomment %}
		border-top: none;
		{% comment %} padding-top: 0; {% endcomment %}
	 }
</style>
{% endblock %}

{% block content %}
<main class="content">

	<div class="row" style="margin-bottom: 20px;">
		<div class="col-sm-12">
			<h2>Okta Groups</h2>
			<a class="btn btn-outline-primary btn-sm" href="{% url "okta:task-okta-group-sync" %}">Sync Groups</a>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-12 col-md-6">
			<h3>Available Groups ({{ group_list|length }})</h3>
			<div id="available-groups">
				<!-- class="search" automagically makes an input a search field. -->
				<input class="search" placeholder="Search" />
				<!-- class="sort" automagically makes an element a sort buttons. The date-sort value decides what to sort by. -->
				<button class="sort" data-sort="name">Sort by Name</button>
				<button class="sort" data-sort="email">Sort by Email</button>

				<ul class="list list-unstyled okta-groups">
					{% for g in group_list %}
					<li>
						<h4 class="name">{{ g.name }}</h4>
						<p class="description">{{ g.description }}</p>
						<p class="email">{% if g.profile.emailAddress %}{{ g.profile.emailAddress }}{% endif %}</p>
						<p>
							{% if g.source_type == 'OKTA_GROUP' %}
								{% if g.allow_join %}
									<a href="{% url 'okta:group-join' group_id=g.id %}?next={% url 'okta:group-yours' %}" class="btn btn-outline-success btn-sm"><i class="far fa-check-circle"></i> Join</a>
								{% endif %}
							{% endif %}
						</p>
					</li>
					{% endfor %}
				</ul>
			</div>
		</div>
		<div class="col-sm-12 col-md-6">
			<h3>Your Groups ({{ user_group_list|length }})</h3>
			<div id="your-groups">
				<!-- class="search" automagically makes an input a search field. -->
				<input class="search" placeholder="Search" />
				<!-- class="sort" automagically makes an element a sort buttons. The date-sort value decides what to sort by. -->
				<button class="sort" data-sort="name">Sort by Name</button>
				<button class="sort" data-sort="email">Sort by Email</button>

				<ul class="list list-unstyled okta-groups">
					{% for g in user_group_list %}
					<li>
						<h4 class="name">{{ g.name }}</h4>
						<p class="description">{{ g.description }}</p>
						<p class="email">{% if g.profile.emailAddress %}{{ g.profile.emailAddress }}{% endif %}</p>
						<p>
							{% if g.source_type == 'OKTA_GROUP' %}
								{% if g.allow_leave %}
									<a href="{% url 'okta:group-leave' group_id=g.id %}?next={% url 'okta:group-yours' %}" class="btn btn-outline-danger btn-sm"><i class="far fa-times-circle"></i> Leave</a>
								{% else %}
									<p><small>* Required</small></p>
								{% endif %}
							{% else %}
								<p><small>External Group</small></p>
							{% endif %}
						</p>
					</li>
					{% endfor %}
				</ul>
			</div>
		</div>
	</div>

</main>
{% endblock %}

{% block script-footer %}
<script>
	var options = {
		valueNames: [ 'name', 'description', 'email' ]
	};
	  
	var availableGroupsList = new List('available-groups', options);
	var availableGroupsList = new List('your-groups', options);
</script>
{% endblock %}