{% extends "core/base.html" %}

{% block title %}Group List{% endblock %}

{% block stylesheets %}{% endblock stylesheets %}

{% block css %}
<style type="text/css">
	.card-number {
		font-size: 30px;
	}

	.okta-groups {
		margin-top: 20px;
	}

	.okta-groups > li > .name {
		font-size: 20px;
	}

	.okta-groups > li {
		/* other properties */
		margin-top: 10px;
		margin-bottom: 10px;
		border-top: 1px solid rgba(0,0,0,.125);
		padding-top: 10px;
	}

	.okta-groups > li:first-child {
		{% comment %} margin-top: 0; {% endcomment %}
		border-top: none;
		{% comment %} padding-top: 0; {% endcomment %}
	}

	.search-options {
		margin-top: 10px;
	}

	.okta-groups > li > .pills:child {
		margin-right: 20px;
		display: inline-block
	}
</style>
{% endblock %}

{% block content %}
<main class="content">

	<div class="row" style="margin-bottom: 20px;">
		<div class="col-sm-12">
			<h2>Okta Groups - Roles ({{ group_role_list|length }})</h2>
			<a class="btn btn-outline-primary btn-sm" href="{% url "okta:task-okta-group-sync" %}">Sync Groups</a>
		</div>
	</div>

	<div class="row" >
		<div class="col-sm-12 col-md-12">

			<table id="group_table" class="table">
				<thead>
					<th>Name</th>
					<th>Description</th>
					<th>Type</th>
					<th>Email</th>
					<th>Application</th>
					<th>Members</th>
				</thead>
				<tbody>
				{% for g in group_role_list %}
					<tr>
						<td><a href="{% url "okta:group-view" group_id=g.id %}">{{ g.name }}</a></td>
						<td>{{ g.description }}</td>
						<td>{{ g.profile.type }}</td>
						<td>{{ g.profile.emailAddress }}</td>
						<td>{{ g.profile.application }}</td>
						<td>{{ g.member_count }}</td>
					</tr>
				{% endfor %}
				</tbody>
			</table>
		</div>
	</div>

</main>
{% endblock %}

{% block script-footer %}
<script>
	$(document).ready( function () {
		$('#group_table').DataTable({
			lengthMenu: [
				[20, 50, -1],
				[20, 50, 'All'],
			],
		});
	} );
</script>
{% endblock %}